/* Color Theme Swatches in Hex */
$dramatic-clouds-1-hex: #69688c;
$dramatic-clouds-2-hex: #283959;
$dramatic-clouds-3-hex: #8ea3bf;
$dramatic-clouds-4-hex: #f2bc8d;
$dramatic-clouds-5-hex: #f29f8d;

/* Color Theme Swatches in RGBA */
$dramatic-clouds-1-rgba: rgba(105, 103, 140, 1);
$dramatic-clouds-2-rgba: rgba(40, 56, 89, 1);
$dramatic-clouds-3-rgba: rgba(141, 163, 191, 1);
$dramatic-clouds-4-rgba: rgba(242, 187, 140, 1);
$dramatic-clouds-5-rgba: rgba(242, 159, 140, 1);

$font-color: #333;
$font-alternative-color: #fff;

$accent-color: #dd4848;

$background-color: #fdfdfd;
$background-alternative-color: #feefee;

$header-font: 'Abril Fatface', serif;
$paragraph-font: 'Roboto', sans-serif;


